<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Life Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
  </head>
  <body>
    <div class="flex-column justify-space-around">
      <header class="main-header display-flex justify-space-between align-center p-2">
        <div class="logo-container"><img
            class="logo header-child header-bar"
            src="/images/logo-svg 2.svg">
            <p>{{format_date}}</p>
        </div>
       
        <nav>
          
          <!-- Conditionally render login or logout links -->
          {{log logged_in}}
          {{#if logged_in}}
           <div class="profile-container">
            <button class="no-button" id="logout">logout</button>
            <p>Hi {{userData.dataValues.username}}!</p>
            <img
            class="profile photo header-child header-bar"
            src="/images/Profile-photo.svg"></div>
            
          {{else}}
            <a href="/login" class="profile"></a>
          {{/if}}
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        <aside class="aside-bar" id="side-bar">
            <div class="home-page hover">
                <a href="/dashboard"><button type="home-page" class="aside-button">
                    <img src="/images/Home(2).svg" alt="Home" class="icon home-icon">
                </button></a>
                <p>Home</p>
            </div>
           
             <div class="hover">
                <a href="/mytasks"><button type="my-task" id="my-task" class="aside-button">
                    <img src="/images/my-tasks(2).svg" alt="" class="icon">
                </button></a><p>My Tasks</p>
            </div>
             <div class="hover">
                <a href="dashboard/calendar"><button type="calendar" id="calendar" class="aside-button">
                    <img src="/images/calendar(1).svg" alt="" class="icon">
                </button></a><p>Calendar</p>
            </div>
           
            <div class="hover">
                <button type="interests" id="interests" class="aside-button">
                    <img src="/images/interest(1).svg" alt="" class="icon">
                </button><p>Interests</p>
            </div>
              <div class="">
        
                <a href="dashboard/tasks"><button type="add-task" id="add-task" class="aside-button">
                    <img src="/images/add-task.svg" alt="" class="add-icon">
                </button></a>
            </div>
        </aside>
        <div class="dashboard">
        <!-- Render the sub layout -->
          {{{body}}}
        </div>
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  
    </script>
    
  </body>

</html>